@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@100;200;900&family=Roboto:wght@300;700&display=swap');

//Texts
$font: "Roboto", sans-serif;
$xl-font: 60px;
$large-font: 80px;
$med-font: 60px;
$sm-font: 45px;

@mixin heading {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.3;
}

@mixin text-content {
    font-weight: 300;
    line-height: 1.3;
}

//Colors
$black-color: #111111;
$grey-color: #C5C5C5;
$lightgrey-color: #ECECEC;
$darkgrey-color: #898989;
$midgrey-color: #888888;
$white-color: #f1f1f1;
$accent-color: yellow;

//DarkTheme
@mixin dark {
    background-color: $black-color;
    color: $white-color;

    .circle {
        border: solid 4px $white-color;
    }

    a {
        color: $white-color;
        text-decoration: none;
    }

    a:hover {
        color: $accent-color;
    }

    a:active {
        font-weight: bold;
    }
}

//LightTheme
@mixin light {
    background-color: $white-color;
    color: $black-color;

    .circle {
        border: solid 4px $black-color;
    }

    a {
        color: $black-color;
        text-decoration: none;
    }

    a:hover {
        color: $accent-color;
    }
}

//OTHERS
$lborder-radius: 40px;
$sm-radius: 10px;