@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@100;200;900&family=Roboto:wght@300;700&display=swap");
.App {
  font-family: "Roboto", sans-serif;
  background-color: #111111;
}

.App h1,
.App h2,
.App h3,
.App h4,
.App h5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3;
}

.App h1 {
  font-size: clamp(2.3rem, 2.9vw, 10rem);
}

.App h2 {
  font-size: clamp(3.1rem, 4.2vw, 11rem);
  font-weight: 300;
}

.App h3 {
  font-size: clamp(2.1rem, 3vw, 2.2rem);
  font-weight: 300;
}

.App h4 {
  font-size: clamp(1.8rem, 3.5vw, 10rem);
  text-transform: initial;
}

.App h5 {
  font-size: clamp(1.1rem, 2.5vw, 6rem);
  font-weight: lighter;
}

.App h6 {
  font-size: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}

.App .styled {
  font-weight: bold;
}

.App .icons {
  width: 20%;
  display: flex;
  gap: 20px;
}

p,
nav {
  font-weight: 300;
  line-height: 1.3;
  text-align: justify;
}

header {
  background-color: #111111;
  color: #f1f1f1;
  background: none;
  width: 100%;
}

header .circle {
  border: solid 4px #f1f1f1;
}

header a {
  color: #f1f1f1;
  text-decoration: none;
}

header a:hover {
  color: yellow;
}

header a:active {
  font-weight: bold;
}

header .header-content {
  width: 65%;
  background-color: #111111;
  color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 40px 0;
  padding: 2rem 4rem 2rem 4rem;
  position: fixed;
  top: 0;
  z-index: 999;
}

header .header-content .circle {
  border: solid 4px #f1f1f1;
}

header .header-content a {
  color: #f1f1f1;
  text-decoration: none;
}

header .header-content a:hover {
  color: yellow;
}

header .header-content a:active {
  font-weight: bold;
}

header .header-content .logo-con {
  display: flex;
}

header .header-content .logo-con i {
  transform: rotate(280deg);
}

header .header-content nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-left: 1%;
}

header .header-content .menubar {
  display: none;
}

header .dropdown-menu {
  display: none;
}

.page-body {
  display: grid;
  place-items: center;
}

.page-body .hero-container {
  background-image: url("../../public/images/bg-shape.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.page-body .hero-container .hero-subcon {
  background-color: #f1f1f1;
  color: #111111;
  height: clamp(40rem, 45vw, 60rem);
  margin: 3% 10%;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}

.page-body .hero-container .hero-subcon .circle {
  border: solid 4px #111111;
}

.page-body .hero-container .hero-subcon a {
  color: #111111;
  text-decoration: none;
}

.page-body .hero-container .hero-subcon a:hover {
  color: yellow;
}

.page-body .hero-container .hero-subcon .hero-text-con {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}

.page-body .about-con {
  background-color: #111111;
  color: #f1f1f1;
  background-image: url("../../public/images/bg-shape.png");
  display: flex;
  justify-content: center;
  background-position: top;
  background-repeat: no-repeat;
  padding: 10rem 2rem;
  width: 100%;
}

.page-body .about-con .circle {
  border: solid 4px #f1f1f1;
}

.page-body .about-con a {
  color: #f1f1f1;
  text-decoration: none;
}

.page-body .about-con a:hover {
  color: yellow;
}

.page-body .about-con a:active {
  font-weight: bold;
}

.page-body .about-con .about-subcon {
  background-color: #111111;
  color: #f1f1f1;
  background: none;
  width: clamp(22rem, 40vw, 36rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.page-body .about-con .about-subcon .circle {
  border: solid 4px #f1f1f1;
}

.page-body .about-con .about-subcon a {
  color: #f1f1f1;
  text-decoration: none;
}

.page-body .about-con .about-subcon a:hover {
  color: yellow;
}

.page-body .about-con .about-subcon a:active {
  font-weight: bold;
}

.page-body .about-con .about-text {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.page-body .approach-con {
  background-color: #f1f1f1;
  color: #111111;
  background-image: url("../../public/images/bg-shape-02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10rem 2rem;
}

.page-body .approach-con .circle {
  border: solid 4px #111111;
}

.page-body .approach-con a {
  color: #111111;
  text-decoration: none;
}

.page-body .approach-con a:hover {
  color: yellow;
}

.page-body .approach-con .approach-subcon {
  width: clamp(22rem, 60vw, 65rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.page-body .approach-con .approach-subcon .subtle-heading {
  color: #C5C5C5;
  line-height: 0.2;
}

.page-body .approach-con .contents {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  margin-bottom: 5rem;
  width: clamp(20rem, 65vw, 40rem);
}

.page-body .approach-con .contents .intentional-content,
.page-body .approach-con .contents .digital-content {
  flex: 1 1 calc(190px - 10px);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page-body .approach-con .contents .intentional-content p,
.page-body .approach-con .contents .digital-content p {
  margin-top: 2rem;
}

.page-body .project-con {
  background-color: #111111;
  color: #f1f1f1;
  background-image: url("../../public/images/bg-shape-03.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12rem;
  padding: 10rem 2rem;
}

.page-body .project-con .circle {
  border: solid 4px #f1f1f1;
}

.page-body .project-con a {
  color: #f1f1f1;
  text-decoration: none;
}

.page-body .project-con a:hover {
  color: yellow;
}

.page-body .project-con a:active {
  font-weight: bold;
}

.page-body .project-con .project-subcon {
  width: clamp(22rem, 60vw, 65rem);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5rem;
}

.page-body .project-con .project-subcon .item-con {
  display: flex;
  gap: 6vw;
  text-align: left;
  flex-wrap: wrap;
}

.page-body .project-con .project-subcon .item-con > :nth-child(even) {
  margin-top: 5rem;
  margin-bottom: -5rem;
}

.page-body .project-con .project-subcon .item-con .item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 calc(288px - 10px);
  padding: 2rem;
}

.page-body .project-con .project-subcon .item-con .item img {
  width: 100%;
  max-width: 90%;
  height: auto;
}

.page-body .project-con .project-subcon .item-con .item .project-title {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.page-body .project-con .project-subcon .item-con .item .project-title .icons {
  justify-content: flex-end;
}

.page-body .project-con .testimonial-subcon {
  width: clamp(22rem, 65vw, 65rem);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-body .project-con .testimonial-subcon .item-con {
  display: flex;
  gap: 5%;
  text-align: left;
  flex-wrap: wrap;
}

.page-body .project-con .testimonial-subcon .item-con .item {
  background-color: #f1f1f1;
  color: #111111;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  gap: 10px;
  border-radius: 5%;
  flex: 1 1 calc(350px - 100px);
  padding-bottom: 4rem;
}

.page-body .project-con .testimonial-subcon .item-con .item .circle {
  border: solid 4px #111111;
}

.page-body .project-con .testimonial-subcon .item-con .item a {
  color: #111111;
  text-decoration: none;
}

.page-body .project-con .testimonial-subcon .item-con .item a:hover {
  color: yellow;
}

.page-body .project-con .testimonial-subcon .item-con .item blockquote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
  transform: scale(0.9);
}

.page-body .project-con .testimonial-subcon .item-con .item .author {
  display: flex;
  justify-content: space-between;
}

.page-body .project-con .testimonial-subcon .item-con .item i:last-child {
  display: flex;
  justify-content: flex-end;
  margin-top: -4rem;
}

.page-body .project-con .testimonial-subcon .item-con .item p:last-child {
  text-transform: uppercase;
  font-size: 18px;
}

.page-body .design-con {
  background-color: #f1f1f1;
  color: #111111;
  background-image: url("../../public/images/bg-shape-04.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8rem 0;
}

.page-body .design-con .circle {
  border: solid 4px #111111;
}

.page-body .design-con a {
  color: #111111;
  text-decoration: none;
}

.page-body .design-con a:hover {
  color: yellow;
}

.page-body .design-con .design-subcon {
  width: clamp(22rem, 65vw, 65rem);
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.page-body .design-con .design-subcon img {
  height: clamp(22rem, 30vw, 50rem);
}

.page-body .design-con .design-subcon .design-heading {
  margin-left: -4rem;
  z-index: 1;
}

.page-body .design-con .design-subcon .description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.page-body .design-con .text-con {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page-body .design-con .text-con h5 {
  font-size: clamp(3.1rem, 5.3vw, 11rem);
}

footer {
  background-color: #111111;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  padding: 3rem;
}

footer .circle {
  border: solid 4px #f1f1f1;
}

footer a {
  color: #f1f1f1;
  text-decoration: none;
}

footer a:hover {
  color: yellow;
}

footer a:active {
  font-weight: bold;
}

footer .footer-con {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .footer-con .footer-subcon {
  width: clamp(27rem, 65vw, 65rem);
}

footer .footer-con .categories {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  flex-wrap: wrap;
  gap: 2%;
}

footer .footer-con .category {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

footer .footer-con .category h6 {
  margin-bottom: 1rem;
}

footer .footer-con .category a {
  display: flex;
}

footer p {
  margin-top: 2rem;
  text-align: center;
  font-style: italic;
}

@media screen and (max-width: 1000px) {
  header .menubar {
    display: block !important;
  }
  header .menu {
    display: none !important;
  }
  header .dropdown-menu {
    height: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #111111;
    right: 0;
    opacity: 0.97;
    border-radius: 10px;
    overflow: hidden;
    z-index: 999;
    backdrop-filter: blur(50px);
  }
  header .dropdown-menu.open {
    height: 100vh;
    width: 85vw;
  }
  header .dropdown-menu i {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    font-size: 25px;
  }
  header .dropdown-menu a {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  header .dropdown-menu a:first-child {
    margin-top: 2rem;
  }
  header .dropdown-menu a:last-child {
    margin-bottom: 2rem;
  }
  .about-text {
    flex-direction: column;
  }
  .approach-con h3 {
    white-space: nowrap;
  }
  .project-con {
    gap: 5rem !important;
  }
  .project-con .project-subcon .item-con > :nth-child(even) {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }
  .project-con .project-subcon .item-con .item {
    margin: 0;
  }
  .design-subcon {
    flex-direction: column;
  }
  .design-subcon .text-con {
    align-items: center !important;
    text-align: center;
  }
  .design-subcon .text-con .design-heading {
    margin-left: 0 !important;
    margin-top: 3rem;
  }
  footer .category {
    flex: 1 1 calc(90% / 2) !important;
    text-align: center;
    align-content: center;
  }
  footer .category a {
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .header-content {
    width: 100% !important;
  }
  .hero-subcon {
    flex-wrap: wrap;
    height: auto !important;
    padding: 6rem 2rem !important;
    gap: 4rem;
    justify-content: center !important;
    margin: 0 !important;
  }
  .hero-subcon .hero-text-con {
    width: 90% !important;
  }
  .approach-con .contents p {
    margin-top: 0rem !important;
  }
  .approach-con h4 {
    font-size: 1.3rem;
  }
  .approach-con h3 {
    white-space: wrap !important;
  }
  .project-con .project-subcon {
    gap: 2rem !important;
  }
  .project-con .project-title {
    flex-direction: column;
    gap: 1rem;
  }
  footer .category {
    flex: 1 1 calc(100%) !important;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .project-con .image-con {
    position: relative;
  }
  .project-con .image-con .sm-date {
    position: absolute;
    right: 0;
  }
  .about-con .about-subcon {
    width: clamp(20rem, 40vw, 36rem);
  }
}

.circle {
  height: 20px;
  min-width: 20px;
  border-radius: 50%;
}

.image-con {
  display: flex;
  align-items: flex-end;
  margin: 0 -2rem 0 0;
}

.image-con .animate {
  height: clamp(22rem, 30vw, 50rem);
  animation: float 4s ease-in-out infinite;
  z-index: 0;
}

@keyframes float {
  0%,
100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.image-con .lg-date,
.image-con .companyname {
  font-size: clamp(3rem, 16vw, 14rem);
  font-weight: bold;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #888888;
  margin: 0 -100px -50px 0;
  opacity: 0.1;
  z-index: 1;
  text-transform: uppercase;
}

.image-con .sm-date {
  font-size: clamp(1rem, 0vw, 5rem);
  font-weight: bold;
  border: 5px solid #C5C5C5;
  border-radius: 20px 0 0 0;
  padding: 1rem;
  margin: 0 0 -30px -100px;
  z-index: 1;
  text-transform: uppercase;
}

.image-con .solidbg {
  background-color: #f1f1f1;
  color: #111111;
}

.image-con .solidbg .circle {
  border: solid 4px #111111;
}

.image-con .solidbg a {
  color: #111111;
  text-decoration: none;
}

.image-con .solidbg a:hover {
  color: yellow;
}

.image-con .companyname {
  font-size: 1rem;
  color: #111111;
  opacity: 1;
  margin: 0 1rem;
}
