@import "../Variables/Variable.scss";

.App {
	font-family: $font;

	h1,
	h2,
	h3,
	h4,
	h5 {
		@include heading;
	}

	h1 {
		font-size: clamp(2.3rem, 3vw, 10rem);
	}

	h2 {
		font-size: clamp(1.2rem, 2.5vw, 6rem);
		font-weight: 300;
	}

	h3 {
		font-size: clamp(1rem, 2vw, 3rem);
		font-weight: 300;
	}

	h6 {
		@include heading;
		font-size: 20px;
	}

	.styled {
		font-weight: bold;
	}

	background-color: $black-color;
}

p,
nav {
	@include text-content;
	text-align: justify;
}

header {
	@include dark;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	border-radius: 0 0 40px 0;
	padding: 2% 6% 2% 6%;
	position: fixed;
	top: 0;

	nav {
		width: 60%;
		display: flex;
		justify-content: space-between;
		text-transform: uppercase;
		margin-left: 1%
	}
}

.page-body {
	display: grid;
	place-items: center;

	.hero-container {
		background-image: url('../../public/images/bg-shape.png');
		background-size: contain;
		background-position: bottom;
		background-repeat: no-repeat;

		.hero-subcon {
			@include light;
			height: clamp(40rem, 45vw, 60rem);
			margin: 3% 10%;
			border-radius: $lborder-radius;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 5%;

			.hero-text-con {
				width: 50%;
				display: flex;
				flex-direction: column;
				gap: 5vw;
			}

			.hero-image-con {
				display: flex;
				align-items: flex-end;

				img {
					height: clamp(22rem, 30vw, 50rem);
				}

				.lg-date {
					font-size: clamp(3rem, 16vw, 14rem);
					font-weight: bold;
					writing-mode: vertical-rl;
					transform: rotate(180deg);
					color: $midgrey-color;
					margin: 0 -100px -50px 0;
					opacity: 0.1;
				}

				.sm-date {
					font-size: clamp(1rem, 0vw, 5rem);
					font-weight: bold;
					border: 5px solid $grey-color;
					border-radius: 20px 0 0 0;
					padding: 20px;
					margin: 0 0 -30px -60px;
				}
			}
		}
	}

	.about-con {
		background-image: url('../../public/images/bg-shape.png');
		display: flex;
		justify-content: center;
		background-position: bottom;
		background-repeat: no-repeat;
		padding: 10% 0;

		.about-subcon {
			@include dark;
			width: clamp(22rem, 40vw, 45rem);
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 40px;
		}

		.about-text {
			display: flex;
			width: 100%;

			.icons {
				width: 20%;
				flex: auto;
				display: flex;
				gap: 20px;
			}

			.subheading {
				width: 80%;
			}
		}
	}

	.approach-con {
		@include light;
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 8% 0;

		.approach-subcon {
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 2rem;
		}

		.contents {
			display: flex;
			flex-wrap: wrap;
			gap: 2.8rem;
			margin-bottom: 5rem;
		}

		.intentional-content,
		.digital-content {
			flex: 1 1 calc(230px - 10px);
			display: flex;
			flex-direction: column;
		}
	}

	.project-con {
		@include dark;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 100px;
		padding: 8% 0;

		.project-subcon {
			width: clamp(20rem, 60vw, 65rem);
			display: flex;
			flex-direction: column;
			text-align: center;
			gap: 5vw;

			.item-con {
				display: flex;
				gap: 6vw;
				text-align: left;
				flex-wrap: wrap;

				.item {
					display: flex;
					flex-direction: column;
					gap: 20px;
					flex: 1 1 calc(288px - 10px);

					img {
						width: 100%; 
						max-width: 100%; 
						height: auto; 
					}
				}
			}
		}

		.testimonial-subcon {
			width: clamp(20rem, 65vw, 65rem);
			display: flex;
			flex-direction: column;
			text-align: center;

			.item-con {
				display: flex;
				gap: 5%;
				text-align: left;
				flex-wrap: wrap;

				.item {
					@include light;
					padding: 20px;
					display: flex;
					flex-direction: column;
					margin-top: 5%;
					gap: 10px;
					border-radius: 5%;
					flex: 1 1 calc(350px - 100px);

					content {
						display: flex;
						justify-content: space-between;
					}

					p:last-child {
						display: flex;
						justify-content: flex-end;
					}
				}
			}
		}
	}

	.design-con {
		@include light;
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 8% 0;
		gap: 10%;

		.design-subcon {
			width: clamp(20rem, 65vw, 65rem);
			display: flex;
			align-items: center;
			gap: 6%;

			img {
				border-radius: 5%;
				height: clamp(22rem, 30vw, 50rem);
			}

			h2 {
				margin-left: -15%;
			}
		}
	}
}

footer {
	@include dark;
	display: flex;
	justify-content: center;
	padding: 3rem;
	width: 100%;

	.footer-con {
		width: 70%;
	}

	.categories {
		display: flex;
		justify-content: space-between;
		min-width: 100px;
		flex-wrap: wrap;
		gap: 2%;
	}

	.category {
		display: flex;
		flex-direction: column;
		align-content: center;
		flex-wrap: wrap;
		margin-bottom: 2rem;

		h6 {
			margin-bottom: 1rem;
		}

		a {
			display: flex;
		}
	}

	p {
		margin-top: 2rem;
		text-align: center;
	}
}

@media screen and (max-width: 1000px) {
	.category {
		flex: 1 1 calc(90% / 2) !important;
	}

	.item {
		flex: 1 1 235px;
	}
}

@media screen and (max-width: 700px) {
	.hero-subcon {
		flex-wrap: wrap;
		height: auto !important;
		padding: 6rem 5rem !important;
		gap: 2rem;

		.hero-text-con {
			width: 100% !important;
		}
	}

	.item-con {
		.item {
			flex: 1 1 100px;
			align-items: center;
		}
	}	
	
	.category {
		flex: 1 1 calc(100%) !important;
		align-items: center;
	}

	
}