@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@100;200;900&family=Roboto:wght@300;700&display=swap");
.App {
  font-family: "Roboto", sans-serif;
  background-color: #111111;
}

.App h1,
.App h2,
.App h3,
.App h4,
.App h5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3;
}

.App h1 {
  font-size: clamp(2.3rem, 3vw, 10rem);
}

.App h2 {
  font-size: clamp(1.2rem, 2.5vw, 6rem);
  font-weight: 300;
}

.App h3 {
  font-size: clamp(1rem, 2vw, 3rem);
  font-weight: 300;
}

.App h6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3;
  font-size: 20px;
}

.App .styled {
  font-weight: bold;
}

p,
nav {
  font-weight: 300;
  line-height: 1.3;
  text-align: justify;
}

header {
  background-color: #111111;
  color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  border-radius: 0 0 40px 0;
  padding: 2% 6% 2% 6%;
  position: fixed;
  top: 0;
}

header a {
  color: #f1f1f1;
  text-decoration: none;
}

header a:hover {
  color: yellow;
}

header a:active {
  font-weight: bold;
}

header nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-left: 1%;
}

.page-body {
  display: grid;
  place-items: center;
}

.page-body .hero-container {
  background-image: url("../../public/images/bg-shape.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.page-body .hero-container .hero-subcon {
  background-color: #f1f1f1;
  color: #111111;
  height: clamp(40rem, 45vw, 60rem);
  margin: 3% 10%;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}

.page-body .hero-container .hero-subcon a {
  color: #111111;
  text-decoration: none;
}

.page-body .hero-container .hero-subcon a:hover {
  color: yellow;
}

.page-body .hero-container .hero-subcon .hero-text-con {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}

.page-body .hero-container .hero-subcon .hero-image-con {
  display: flex;
  align-items: flex-end;
}

.page-body .hero-container .hero-subcon .hero-image-con img {
  height: clamp(22rem, 30vw, 50rem);
}

.page-body .hero-container .hero-subcon .hero-image-con .lg-date {
  font-size: clamp(3rem, 16vw, 14rem);
  font-weight: bold;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #888888;
  margin: 0 -100px -50px 0;
  opacity: 0.1;
}

.page-body .hero-container .hero-subcon .hero-image-con .sm-date {
  font-size: clamp(1rem, 0vw, 5rem);
  font-weight: bold;
  border: 5px solid #C5C5C5;
  border-radius: 20px 0 0 0;
  padding: 20px;
  margin: 0 0 -30px -60px;
}

.page-body .about-con {
  background-image: url("../../public/images/bg-shape.png");
  display: flex;
  justify-content: center;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 10% 0;
}

.page-body .about-con .about-subcon {
  background-color: #111111;
  color: #f1f1f1;
  width: clamp(22rem, 40vw, 45rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.page-body .about-con .about-subcon a {
  color: #f1f1f1;
  text-decoration: none;
}

.page-body .about-con .about-subcon a:hover {
  color: yellow;
}

.page-body .about-con .about-subcon a:active {
  font-weight: bold;
}

.page-body .about-con .about-text {
  display: flex;
  width: 100%;
}

.page-body .about-con .about-text .icons {
  width: 20%;
  flex: auto;
  display: flex;
  gap: 20px;
}

.page-body .about-con .about-text .subheading {
  width: 80%;
}

.page-body .approach-con {
  background-color: #f1f1f1;
  color: #111111;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8% 0;
}

.page-body .approach-con a {
  color: #111111;
  text-decoration: none;
}

.page-body .approach-con a:hover {
  color: yellow;
}

.page-body .approach-con .approach-subcon {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.page-body .approach-con .contents {
  display: flex;
  flex-wrap: wrap;
  gap: 2.8rem;
  margin-bottom: 5rem;
}

.page-body .approach-con .intentional-content,
.page-body .approach-con .digital-content {
  flex: 1 1 calc(230px - 10px);
  display: flex;
  flex-direction: column;
}

.page-body .project-con {
  background-color: #111111;
  color: #f1f1f1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  padding: 8% 0;
}

.page-body .project-con a {
  color: #f1f1f1;
  text-decoration: none;
}

.page-body .project-con a:hover {
  color: yellow;
}

.page-body .project-con a:active {
  font-weight: bold;
}

.page-body .project-con .project-subcon {
  width: clamp(20rem, 60vw, 65rem);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5vw;
}

.page-body .project-con .project-subcon .item-con {
  display: flex;
  gap: 6vw;
  text-align: left;
  flex-wrap: wrap;
}

.page-body .project-con .project-subcon .item-con .item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 calc(288px - 10px);
}

.page-body .project-con .project-subcon .item-con .item img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.page-body .project-con .testimonial-subcon {
  width: clamp(20rem, 65vw, 65rem);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-body .project-con .testimonial-subcon .item-con {
  display: flex;
  gap: 5%;
  text-align: left;
  flex-wrap: wrap;
}

.page-body .project-con .testimonial-subcon .item-con .item {
  background-color: #f1f1f1;
  color: #111111;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  gap: 10px;
  border-radius: 5%;
  flex: 1 1 calc(350px - 100px);
}

.page-body .project-con .testimonial-subcon .item-con .item a {
  color: #111111;
  text-decoration: none;
}

.page-body .project-con .testimonial-subcon .item-con .item a:hover {
  color: yellow;
}

.page-body .project-con .testimonial-subcon .item-con .item content {
  display: flex;
  justify-content: space-between;
}

.page-body .project-con .testimonial-subcon .item-con .item p:last-child {
  display: flex;
  justify-content: flex-end;
}

.page-body .design-con {
  background-color: #f1f1f1;
  color: #111111;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8% 0;
  gap: 10%;
}

.page-body .design-con a {
  color: #111111;
  text-decoration: none;
}

.page-body .design-con a:hover {
  color: yellow;
}

.page-body .design-con .design-subcon {
  width: clamp(20rem, 65vw, 65rem);
  display: flex;
  align-items: center;
  gap: 6%;
}

.page-body .design-con .design-subcon img {
  border-radius: 5%;
  height: clamp(22rem, 30vw, 50rem);
}

.page-body .design-con .design-subcon h2 {
  margin-left: -15%;
}

footer {
  background-color: #111111;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  padding: 3rem;
  width: 100%;
}

footer a {
  color: #f1f1f1;
  text-decoration: none;
}

footer a:hover {
  color: yellow;
}

footer a:active {
  font-weight: bold;
}

footer .footer-con {
  width: 70%;
}

footer .categories {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  flex-wrap: wrap;
  gap: 2%;
}

footer .category {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

footer .category h6 {
  margin-bottom: 1rem;
}

footer .category a {
  display: flex;
}

footer p {
  margin-top: 2rem;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .category {
    flex: 1 1 calc(90% / 2) !important;
  }
  .item {
    flex: 1 1 235px;
  }
}

@media screen and (max-width: 700px) {
  .hero-subcon {
    flex-wrap: wrap;
    height: auto !important;
    padding: 6rem 5rem !important;
    gap: 2rem;
  }
  .hero-subcon .hero-text-con {
    width: 100% !important;
  }
  .item-con .item {
    flex: 1 1 100px;
    align-items: center;
  }
  .category {
    flex: 1 1 calc(100%) !important;
    align-items: center;
  }
}
