@import "../Variables/Variable.scss";

.App {
	font-family: $font;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include heading;
		font-size: 20px;
	}

	h1 {
		font-size: $large-font;
	}

	h2 {
		font-size: $med-font;
		font-weight: lighter;
	}

	h3 {
		font-size: $sm-font;
		font-weight: lighter;
	}

	.styled {
		font-weight: bold;
	}

	background-color: $black-color;
}

p,
nav {
	@include text-content;
	text-align: justify;
}

header {
	@include dark;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	border-radius: 0 0 40px 0;
	padding: 2% 6% 2% 6%;
	position: fixed;
	top: 0;

	nav {
		width: 60%;
		display: flex;
		justify-content: space-between;
		text-transform: uppercase;
		margin-left: 1%
	}
}

.page-body {
	display: grid;
	place-items: center;

	.hero-container {
		background-image: url('../../public/images/bg-shape.png');
		background-size: contain;
		background-position: bottom;
		background-repeat: no-repeat;
		display: flex;

		.hero-subcon {
			@include light;
			height: 80vh;
			margin: 3% 10%;
			border-radius: $lborder-radius;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 5%;

			.hero-text-con {
				width: 50%;
				display: flex;
				flex-direction: column;
				gap: 50px;
			}

			.hero-image-con {
				display: flex;
				align-items: flex-end;

				.lg-date {
					font-size: 200px;
					font-weight: bold;
					writing-mode: vertical-rl;
					transform: rotate(180deg);
					color: $midgrey-color;
					margin: 0 -100px -50px 0;
					opacity: 0.1;
				}

				.sm-date {
					font-size: 30px;
					font-weight: bold;
					border: 5px solid $grey-color;
					border-radius: 20px 0 0 0;
					padding: 20px;
					margin: 0 0 -30px -60px;
				}
			}
		}
	}

	.about-con {
		background-image: url('../../public/images/bg-shape.png');
		display: flex;
		justify-content: center;
		background-position: bottom;
		background-repeat: no-repeat;
		padding: 10% 0;

		.about-subcon {
			@include dark;
			width: 30%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 40px;
		}

		.about-text {
			display: flex;
			width: 100%;

			.icons {
				width: 20%;
				flex: auto;
				display: flex;
				gap: 20px;
			}

			.subheading {
				width: 80%;
			}
		}
	}

	.approach-con {
		@include light;
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 8% 0;

		.approach-subcon {
			width: 50%;
			display: flex;
			flex-direction: column;
			display: flex;
			align-items: center;
			gap: 100px;
		}

		.contents {
			display: flex;
		}

		.intentional-content {
			padding: 40px;
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		.digital-content {
			padding: 40px;
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

	}

	.project-con {
		@include dark;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 100px;
		padding: 8% 0;

		.project-subcon {
			width: 50%;
			display: flex;
			flex-direction: column;
			text-align: center;

			.item-con {
				display: flex;
				gap: 10%;
				text-align: left;

				.item {
					display: flex;
					flex-direction: column;
					margin-top: 10%;
					gap: 20px;
				}
			}
		}

		.testimonial-subcon {
			width: 50%;
			display: flex;
			flex-direction: column;
			text-align: center;

			.item-con {
				display: flex;
				gap: 5%;
				text-align: left;

				.item {
					@include light;
					padding: 20px;
					display: flex;
					flex-direction: column;
					margin-top: 5%;
					gap: 10px;
					border-radius: 5%;

					content {
						display: flex;
						justify-content: space-between;
					}

					p:last-child {
						display: flex;
						justify-content: flex-end;
					}
				}
			}
		}
	}

	.design-con {
		@include light;
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 8% 0;
		gap: 10%;

		.design-subcon {
			width: 60%;
			display: flex;
			align-items: center;
			gap: 6%;

			img {
				border-radius: 5%;
			}

			h2 {
				margin-left: -15%;
			}
		}
	}
}

footer {
	@include dark;
	display: flex;
	justify-content: center;
	padding: 3rem;
	width: 100%;

	.footer-con {
		width: 70%;
	}

	.categories {
		display: flex;
		justify-content: space-between;
		min-width: 100px;
		flex-wrap: wrap;
	}

	.category {
		h6 {
			margin-bottom: 1rem;
		}

		a {
			display: flex;
		}
	}

	p {
		margin-top: 2rem;
		text-align: center;
	}
}